[package]
name = "lowfi"
version = "1.4.1"
edition = "2021"
description = "An extremely simple lofi player."
license = "MIT"
readme = "README.md"
categories = [
    "command-line-interface",
    "command-line-utilities",
    "multimedia",
    "multimedia::audio",
]
keywords = ["lowfi", "lofi", "music"]
documentation = "https://github.com/talwat/lowfi"
homepage = "https://github.com/talwat/lowfi"
repository = "https://github.com/talwat/lowfi"

[features]
mpris = ["dep:mpris-server"]

[dependencies]
# Basics
clap = { version = "4.5.18", features = ["derive", "cargo"] }
eyre = { version = "0.6.12" }
rand = "0.8.5"

# Async
tokio = { version = "1.40.0", features = [
    "macros",
    "rt-multi-thread",
    "fs"
], default-features = false }
futures = "0.3.30"
arc-swap = "1.7.1"

# Data
reqwest = "0.12.7"
bytes = "1.7.2"

# I/O
crossterm = { version = "0.28.1", features = ["event-stream"] }
rodio = { version = "0.19.0", features = ["symphonia-mp3"], default-features = false }
mpris-server = { version = "0.8.1", optional = true }
dirs = "5.0.1"

# Misc
scraper = "0.20.0"
Inflector = "0.11.4"
lazy_static = "1.5.0"
libc = "0.2.159"
